@model ELCAPITAL.Models.Paquete

@{
    ViewData["Title"] = "Details";
}

<h1>DETALLES</h1>

<div>
    <h4>PAQUETE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ES CREDITICIO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsCrediticio)
        </dd>
        <dt class="col-sm-2">
            ID PRODUCTO
        </dt>
        <dd class="col-sm-10">
            <p asp-for="IdProducto">@Html.DisplayFor(model => model.IdProducto)</p>
        </dd>
        <dt class="col-sm-2">
            TARJETAS
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Index" asp-controller="TarjetaDeCreditoes">VER MIS TARJETAS</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">VOLVER A MIS PAQUETES</a>
</div>
