@model List<ELCAPITAL.Models.Paquete>

@{
    ViewData["Title"] = "Paquetes|EL CAPITAL";
}

<h4>PAQUETES </h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Id Producto
            </th>
            <th>
                Id Cliente
            </th>
            <th>
                Tarjetas
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
             <td>
                    <a asp-action="IndexAdmin" asp-controller="TarjetaDeCreditoes" asp-route-id="@item.IdProducto">Ver Tarjetas</a>
             </td>
        </tr>
}
    </tbody>
</table>
