@model List<ELCAPITAL.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h4>PRESTAMOS</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Producto
            </th>
            <th>
                Es Prendario
            </th>
            <th>
                Fecha Limite
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsPrendario)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaLimite)
            </td>
        </tr>
}
    </tbody>
</table>
