
@{
    ViewData["Title"] = "Limite Sobrepasado";
}

<h4 class="text-danger">LIMITE SOBREPASADO</h4>
<p>El maximo monto para un Prestamo es de $300000</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-dark">VOLVER A INICIO</a>

