@model Prestamo
@{
    ViewData["Title"] = "PedirPrestamo";
}

<h3>PEDIR PRESTAMO</h3>
<form asp-action="PedirPrestamoPost" method="post">
    <div class="form-group">
       <label asp-for="DineroPrestamo" class="control-label">Cantidad que no supere $300.000</label>
       <input asp-for="DineroPrestamo" class="form-control mb-2" />
    </div>
    <div class="form-group">
        <input type="submit" value="PEDIR PRESTAMO" class="btn btn-success"/>
    </div>
</form>

