
@{
    ViewData["Title"] = "Error Sin Fondos";
}

<h4 class="text-danger">ERROR AL PROCESAR SU SOLICITUD</h4>
<p>Lamentamos informale que el Banco no cuenta con los fondos suficientes para otorgarle el Prestamo</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-dark">VOLVER A INICIO</a>

