
@{
    ViewData["Title"] = "Tiene Prestamo";
}

<h3 class="text-danger">USTED YA CUENTA CON UN PRESTAMO PENDIENTE</h3>
<p>Ya tiene a su disposicion un Prestamo Vigeente</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-dark">VOLVER A INICIO</a>
