@model ELCAPITAL.Models.PersonaFisica

@{
    ViewData["Title"] = "Create";
}

<h1>REGISTRARSE</h1>
<hr />
<div class="container ">
    <div class="row">
        <div class="col-4  bg-dark mt-5 p-4  text-light border border-dark rounded">
            <form asp-controller="PersonaFisicas" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">NOMBRE</label>
                    <input asp-for="Nombre" class="form-control mb-2" />
                    <span asp-validation-for="Nombre" class="text-danger">(*) Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoDocumento" class="control-label">TIPO DE DOCUMENTO</label>
                    <input asp-for="TipoDocumento" class="form-control mb-2" />
                    <span asp-validation-for="TipoDocumento" class="text-danger">(*) Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroDocumento" class="control-label">NUMERO DE DOCUMENTO SIN PUNTOS</label>
                    <input asp-for="NumeroDocumento" class="form-control mb-2" />
                    <span asp-validation-for="NumeroDocumento" class="text-danger">(*) Este campo es obligatorio</span>
                </div>
                <div class="form-group">
                    <label asp-for="Ingresos" class="control-label">SUELDO BRUTO EN PESOS</label>
                    <input asp-for="Ingresos" class="form-control mb-2" />
                </div>
                <div class="form-group pt-2">
                    <input type="submit" value="CREAR USUARIO" class="btn btn-light mb-3"/>
                </div>
            </form>
        </div>
    </div>
</div>

