@model ELCAPITAL.Models.PersonaJuridica

@{
    ViewData["Title"] = "Create";
}

<h1>REGISTRARSE</h1>
<hr />
<div class="container ">
    <div class="row">
        <div class="col-4  bg-dark mt-5 pt-4  text-light border border-dark rounded">
            <form asp-controller="PersonaJuridicas" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreEmpresa" class="control-label"></label>
                    <input asp-for="NombreEmpresa" class="form-control mb-2" />
                    <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoDocumento" class="control-label"></label>
                    <input asp-for="TipoDocumento" class="form-control mb-2" />
                    <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroDocumento" class="control-label"></label>
                    <input asp-for="NumeroDocumento" class="form-control mb-2" />
                    <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ingresos" class="control-label">INGRESOS MENSUALES EN PESOS</label>
                    <input asp-for="Ingresos" class="form-control mb-2" />
                </div>
                <div class="form-group pt-2">
                    <input type="submit" value="CREAR USUARIO" class="btn btn-light mb-3" />
                </div>
            </form>
        </div>
    </div>
</div>
