@model ELCAPITAL.Models.TarjetaDeCredito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TarjetaDeCredito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paquete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paquete.CualProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTarjetaDeCredito">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
