@model IEnumerable<ELCAPITAL.Models.TarjetaDeCredito>

@{
    ViewData["Title"] = "Index";
}

<h3>MIS TARJETAS DE CREDITO</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Tarjeta
            </th>
            <th>
                Codigo Tarjeta
            </th>
            <th>
                Id Producto
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTarjetaDeCredito)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CodigoTarjeta)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProducto)
                </td>

        </tr>
}
    </tbody>
</table>
