@model IEnumerable<ELCAPITAL.Models.Solicitud>

@{
    ViewData["Title"] = "Index";
}

<h1>MIS SOLICITUDES</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Solicitud
            </th>
            <th>
                Tipo Solicitud
            </th>
            <th>
                Fecha Solicitud
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolicitud)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
        </tr>
}
    </tbody>
</table>
