
@{
    ViewData["Title"] = "Solicitud Enviada";
}

<h5 class="text-success">SOLICITUD ENVIADA CON EXTIO</h5>
<p> Su solictud ha sido enviada con exito, esta misma sera revisada. </p>
<a asp-action="Index" asp-controller="Home" class="btn btn-dark">VOLVER A INICIO</a>

