@model ELCAPITAL.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h2>ELIMINAR CLIENTE</h2>

<h4>ESTAS SEGURO QUE DESEA ELIMINAR AL SIGUIENTE CLIENTE</h4>
<div>
    <dl class="col-8">
        <dt>
            Id Cliente
        </dt>
        <dd >
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt>
            Numero de Documento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt>
            Nombre / Empresa 
        </dt>
        <dd >
            @(Model is ELCAPITAL.Models.PersonaFisica ? ((ELCAPITAL.Models.PersonaFisica)Model).Nombre : ((ELCAPITAL.Models.PersonaJuridica)Model).NombreEmpresa)
        </dd>
        <dt>
            Ingresos
        </dt>
        <dd>
            $ @Html.DisplayFor(model => model.Ingresos)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
